  <h1 id="tableLabel">User list</h1>

<p>This component demonstrates fetching all user data from the server.</p>

  <p *ngIf="!user"><em>Something went wrong, try refreshing the website.
    If you have edited user data, everything should be fine.</em></p>

  <script src="app.js"></script>

  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="user">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nickname</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <input #uid_0/>
        <button (click)='getUser(uid_0.value)'>IMPORT THIS ID</button>
        <!--<textarea #uid_{{user.userIdNumeric}}>{{user.userIdNumeric}}</textarea>-->
        <!--<button (click)='getUser(("uid_" + user.userIdNumeric))'>IMPORT THIS ID</button>-->
        <!--<td>^^^FOR FUTURE USE^^^</td>-->
        <!--<button (click)='getUser((("uid_" +user.userIdNumeric)))'>IMPORT THIS ID</button>-->
      </td>
      <td><textarea #nickname_0>{{ user.userId }}</textarea></td>
      <!--<td id='textarea_{{user.userId}}'><textarea #nickname_{{user.userId}}>{{ user.userId }}</textarea></td>-->
      <td><button (click)='SendPatches(uid_0.value, nickname_0.value)'>MODIFY</button></td>
    </tr>
    </tbody>
  </table>

  <!--<mat-tab-group>
    <mat-tab>no</mat-tab>
  </mat-tab-group>-->
