  <h1 id="tableLabel">User list</h1>

<p>This component demonstrates fetching all user data from the server.</p>

  <p *ngIf="!users"><em>Loading...</em></p>

  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="users">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nickname</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.userIdNumeric}}</td>
      <td>{{ user.userId }}</td>
      <td><button (click)='removeUser(user)'>DELETE USER</button></td>
      <!--<td><button>USUŃ</button></td>
      <td><button>MODYFIKUJ</button></td>-->

      <!--<td>{{ forecast.date }}</td>
      <td>{{ forecast.temperatureC }}</td>
      <td>{{ forecast.temperatureF }}</td>-->
      <!--<td>{{ forecast.summary }}</td>-->
    </tr>
    </tbody>
  </table>

