<h1 id="tableLabel">Add user</h1>

<p>This component demonstrates user sign-up to the server.</p>

<p *ngIf="!user"><em>Loading...</em></p>


<input #nickname>
<button (click)="AddUser(nickname.value)">ADD NEW USER</button>








<!--<p *ngIf="!forecasts"><em>Loading...</em></p>
<h2>No</h2>
New user's nickname
<input name="nick">
<div></div>
<button name="postbutton" (click)="sendValues()">DODAJ</button>-->
